.rms-editor > div {
  font-size: 14px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  border-radius: 6px;
  border-width: 2px;
  border-color: var(--color-slate-300);
  background-color: black;
  color: var(--color-slate-200);
  --tw-shadow:
    0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-shadow-color: var(--color-slate-200);
}
